.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingContainer {
  width: 100vw;
  height: 100vh;
  background-color: #3E3E3E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #C8C5C5;
}

.loadingOutline {
  border: 2px solid #C8C5C5;
  border-radius: 30px;
  width: 80%;
  height: 30px;
}

.loadingBar {
  height: 26px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #A400B7, #00F3D2);
  position: relative;
  top: 2px;
  left: 2px;
  /* animation: loadingBar 4s ease-in-out; */
  width: 1%;
}

@keyframes loadingBar {
  0% {
    width: 1%;
  }
  100% {
    width: 99%;
  }
}

.dialogContainer {
  z-index: 3;
  width: 80vw;
  height: 20vh;
  background-color: #F3E7E7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #7070707e;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(80, 80, 80, 0.315);
}

.dialogClose {
  font-weight: bold;
  color: whitesmoke;
  background-color: #00F3D2;
  border: 1px solid rgba(83, 83, 83, 0.548);
  border-radius: 20px;
  padding: 8px 45px;
  margin-top: 20px;
}

.settingsContainer {
  z-index: 3;
  background-color: #3ac6feaf;
  width: 80%;
  height: 50vh;
  border-radius: 28px;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px rgba(80, 80, 80, 0.541);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.round {
  border-radius: 34px;
}

.round:before{
  border-radius: 50%;
}

.settingsTopBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.settingsMiddleBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.settingsMiddleBar h1{
  color: #0c3150;
}

.settingsMiddleBar h2{
  color: #7f7f80;
}

.termsAndCondtionsBtn{
  color: whitesmoke;
  background-color: #2196F3;
  border: none;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  box-shadow: 5px 5px 10px inset rgba(153, 153, 153, 0.541);
  font-weight: bold;
  position: relative;
  top: 15px
}

.aboutContainer {
 color: #2B6B84;
 font-size: 1.6rem;
 padding: 5px 10px;
}

.aboutClose {
  position: relative;
  top: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(77, 77, 77, 0.336);
  font-size: large;
  color: #2B6B84;
  background-color: white;
  border: 1px solid rgb(73, 73, 73);
}

.conditionContainer {
  z-index: 3;
  background-image: linear-gradient(to right, #2196F3, #4dffe7);
  width: 80%;
  height: 50vh;
  border-radius: 28px;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px rgba(80, 80, 80, 0.541);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.conditionContainer h2{
  color: #25586d;
}

.conditionButton {
  position: relative;
  top: 40px;
  border: 1px solid #707070;
  color: #55ccfc;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 2px 2px 6px #3e3e3e59;
  border-radius: 10px;
  padding: 20px 30px;
}